
//COLORS 
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-thinGreenGradient: rgba(126, 213, 111, 0.604);
$color-darkGreenGradient: rgba(40, 180, 133, 0.805);

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-primary-white: white;
$color-primary-black: black;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;