@import '../abstracts/variables';

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-thinGreenGradient, $color-darkGreenGradient);
    background-clip: text;
    color: transparent;

}